/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {  
    /* My Colors*/
    --background-gradient-primario: #020411;
    --background-gradient-secundario: #202255;
    --letra-primaria: #ffffff;
    --letra-secundaria: #5dcbb3;
    --gradient-primario: #5e52ce;
    --gradient-secundaria: #8b73c8;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: var(--vt-c-black);
      --color-background-soft: var(--vt-c-black-soft);
      --color-background-mute: var(--vt-c-black-mute);
  
      --color-border: var(--vt-c-divider-dark-2);
      --color-border-hover: var(--vt-c-divider-dark-1);
  
      --color-heading: var(--vt-c-text-dark-1);
      --color-text: var(--vt-c-text-dark-2);
    }
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
  }

  body {
    min-height: 100vh;
    color: var(--letra-primaria);
    background: var(--background-gradient-primario );
    transition: color 0.5s, background-color 0.5s;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  